<!-- ADMINSRATION -->

<!-- div 1 -->
<app-Administration></app-Administration>
<div class="mt-4 mb-4">
  <div>
  <div class="allign"  >
<div class="warapper">
   <div class="div1 ml-2">
        <mat-card class="card ml-2" >
          <mat-card-header>
            <div mat-card-avatar><img src="" alt=""></div>

            <mat-card-title class="text-center ml-2">ADD LOCATION</mat-card-title>

            <mat-card-subtitle class="text-center">adding locations</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
               Add locations
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button id="add-button" style="margin-left:6rem;" mat-button (click)="addLocation()" >
              <mat-icon><mat-icon matPrefix>location_on</mat-icon></mat-icon>Add Location</button>
          </mat-card-actions>
        </mat-card>
   </div>

   <!-- div2 -->
<div class="div2">
        <mat-card class="card ml-2" >
          <mat-card-header>
            <div mat-card-avatar><img src="" alt=""></div>

            <mat-card-title class="text-center ml-2">ADD BRANCH</mat-card-title>

            <mat-card-subtitle class="text-center">adding branches</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
               Adding the branches based on the location
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button id="add-button" style="margin-left:6rem;" mat-button (click)="addBranch()" >
              <mat-icon><mat-icon>add_circle_outline</mat-icon></mat-icon>Add branches</button>
          </mat-card-actions>
        </mat-card>
   </div>


   <!-- div 3 -->


   <div class="div3">
    <mat-card class="card ml-5">
      <mat-card-header>
        <div mat-card-avatar><img src="" alt=""></div>
        <mat-card-title class="text-center ml-2">VIEW BRANCHES</mat-card-title>
        <mat-card-subtitle class="text-center ml-2">view the branches</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mgm">
        <p class="mgp">view the branch based on location</p>
      </mat-card-content>
      <mat-card-actions>
        <button id="add-button" style="margin-left:6rem;" mat-button (click)="viewBracnh()" >
          <mat-icon><mat-icon>remove_red_eye</mat-icon></mat-icon>view branch</button>
      </mat-card-actions>
    </mat-card>
   </div>


   <!-- div 3 -->
   <!-- <div class="div2">
    <mat-card class="card ml-5">
      <mat-card-header>
        <div mat-card-avatar><img src="" alt=""></div>
        <mat-card-title class="text-center ml-2">ADD LOCATION</mat-card-title>
        <mat-card-subtitle class="text-center ml-2">add the location</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mgm">
        <p class="mgp">add location</p>
      </mat-card-content>
      <mat-card-actions>
        <button id="add-button" style="margin-left:6rem;" mat-button (click)="addLocation()" >
          <mat-icon><mat-icon>remove_red_eye</mat-icon></mat-icon>add location</button>
      </mat-card-actions>
    </mat-card>
   </div> -->

