<!-- /SIDE NAV -->
<!--
<header class="header">

  <div class="navbar">
    <div class="admin-box">
      <p class="profile-label white-text">SimpleLearn</p>

    </div>

    <mat-nav-list class="nav-links">
      <mat-list-item><a mat-list-item-link routerLink="/batchhome/course"  class="white-text"  id="text">Courses</a></mat-list-item>

      <mat-list-item><a mat-list-item-link routerLink="/batchhome/subject" class="white-text" id="text" >Subjects</a></mat-list-item>
      <mat-list-item><a mat-list-item-link  routerLink="/batchhome/batch" class="white-text" id="text">Batches</a></mat-list-item>
      <mat-list-item><a mat-list-item-link  routerLink="/trainers" class="white-text" id="text">Trainers</a></mat-list-item>
      <mat-list-item><a mat-list-item-link  routerLink="/trainees" class="white-text" id="text">Trainees</a></mat-list-item>
    </mat-nav-list>
  </div>
  <button mat-button class="logout" style="background-color:grey" (click)="logOut($event)">LOG OUT</button>
</header> -->
<!-- (click)="courses($event)" -->

<div class="dashboard">
  <!-- Dashboard content -->

</div>
<div>
  <router-outlet></router-outlet>
</div>


<!-- /SIDE NAV -->
<!-- <header class="header">
  <div class="navbar">
    <div class="admin-box">

      <p class="profile-label white-text">SimpleLearn</p>
    </div>
    <mat-nav-list class="nav-links">
      <mat-list-item><a mat-list-item-link href="#" class="white-text" (click)="showBranches($event)" id="text">Administration</a></mat-list-item>
      <mat-list-item><a mat-list-item-link href="#" class="white-text" id="text" (click)="profile($event)">Profile</a></mat-list-item>
    </mat-nav-list>
  </div>
  <button mat-button class="logout" style="background-color:grey" (click)="logOut($event)">LOG OUT</button>
</header>
<div class="dashboard"> -->
  <!-- Dashboard content -->
<!-- </div> -->
