.mat-card{
  max-width: 30rem;
  height: 30%;
  margin-left: 35rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:aliceblue;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 60px;
}
#backButton{
  margin-top: -60px;
}



