<div class="form-container">
  <form
    class="example-form"
    [formGroup]="trainerForm"
    (submit)="submitTrainer()"
  >
    <!-- <h1>Trainer Registration Form</h1> -->
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Name </mat-label>
            <input
              matInput
              value="Siva"
              formControlName="trainer_name"
              placeholder="Enter Your Name"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Age </mat-label>
            <input
              matInput
              value="12"
              formControlName="trainer_age"
              placeholder="Enter Your Age"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number </mat-label>
            <input
              matInput
              value=""
              formControlName="trainer_phonenumber"
              placeholder="Enter Your Phone Number"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email </mat-label>
            <input
              matInput
              value=""
              formControlName="triner_email"
              placeholder="Enter Your Email"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <mat-radio-group
          aria-label="Select an option"
          class="example-full-width"
          formControlName="trainer_gender"
          aria-placeholder="select Gender"
        >
          <td>
            <mat-label>Gender</mat-label>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </td>
        </mat-radio-group>
      </tr>
    </table>
    <table formGroupName="address_id">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Door Number</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="door_no"
              placeholder="Door No."
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="street"
              placeholder="Street Name"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. " formControlName="city" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>state</mat-label>
            <input
              matInput
              placeholder="Ex. California"
              formControlName="state"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>pincode</mat-label>
            <input matInput placeholder="Ex. 0000" formControlName="pincode" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>locality</mat-label>
            <input matInput placeholder="Locality" formControlName="locality" />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <!-- Form controls for interviewer information -->

    <mat-form-field>
      <mat-label>Select Subject</mat-label>
      <mat-select multiple formControlName="subjects">
        <mat-option
          *ngFor="let subject of subjects; let i = index"
          [value]="subject.subject_id"
        >
          {{ subject.subject_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-center">
      <button mat-raised-button type="submit" color="primary">
        {{ submitType }}
      </button>
      <button mat-raised-button mat-dialog-close type="button" color="warn">
        Close
      </button>
    </div>
  </form>
</div>
